.errors
    - if @member.errors.any?
        - @member.errors.each do |name, msg|
            = "#{name} => #{msg}"
            %br

= form_for @member, :url => 'register' do |f|
    .group
        .label= f.label "Login:"
        .field= f.text_field :login

    .group
        .label= f.label "Email:"
        .field= f.text_field :email

    .group
        .label= f.label "Hasło:"
        .field= f.password_field :password

    .group
        .label= f.label "Powtórz hasło:"
        .field= f.password_field :password_confirmation
    .button= f.submit