!!! 5
%html
    %head
        %title= 'Game'
        = stylesheet_link_tag :all
        = javascript_include_tag :defaults
        = csrf_meta_tag
    %body
        %div.navigation
            %a{:href => '/'} STRONA GŁÓWNA
            - unless is_authorization?
                %a{:href => '/auth/signin'}  | LOGOWANIE
                %a{:href => '/auth/signup'}  | REJESTRACJA
            - else
                %a{:href => '/auth/signout'} | WYLOGUJ SIĘ
        %hr
        %br
        = yield