!!! 5
%html
    %head
        %title= 'Game'
        = stylesheet_link_tag :all
        = javascript_include_tag :defaults
        = csrf_meta_tag
    %body
        %div.navigation
            - unless is_authorization?
                %a{:href => '/auth/login'} LOGOWANIE
                %a{:href => '/auth/register'} REJESTRACJA
            - else
                %a{:href => '/members/logout'} WYLOGUJ SIĘ
        %hr


        = yield